<!--Add Shunks Manually-->
<div class="container-fluid">
  <div class="row">
      <div class="col-xl">
        <!--shadow nao habilitada $enable-shadows - box-shadow -->
        <div class="shadow p-3 mb-5 bg-white rounded">
          <div class="card">
            <div class="card-header">Manually Add a Shank </div>
            <div class="card-body">
              <form action="/employee" method="POST" autocomplete="off">
                <input type="hidden" name="_id" value="{{employee._id}}">
                <div class="form-group">
                  <label for="formGroupExampleInput">Title</label>
                  <input type="text" name="fullName" value="{{employee.fullName}}" class="form-control" id="formGroupExampleInput" placeholder="e.g.: Cardiovascular system">
                  <div class="text-danger">{{employee.fullNameError}}</div>
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2">Add a Note or Comments</label>
                  <input type="text" name="city" value="{{employee.city}}" id="formGroupExampleInput2" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
                    <a class="btn btn-secondary" href="./list"><i class="fa fa-list-alt"></i> View All</a>
                </div>
              </form>



            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<!--End - Add Shunks Manually-->
